@import "tailwindcss";

@font-face {
  font-family: "LeagueSpartan";
  src: url("/fonts/LeagueSpartan.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "LeagueSpartan", sans-serif;
}

.snap-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.snap-container::-webkit-scrollbar {
  display: none;
}

.snap-section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
}
